/* 
    Author: Tashley Toocaram
    Website: https://codenametashley.github.io
    Company: CHB Technologies Ltd
    Company Website: https://www.chb-technologies.mu/
 */

/* CSS reset */

* {
    margin: 0;
    padding: 0;
}

:root {
    --start-gradient: #212E3B;
    --end-gradient: #ADD8E6;
    --left-menu: white;
    --main-content: silver;
    --header-color: #181F29;
    --dark-left-menu: #A4A4A4;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(var(--start-gradient), var(--end-gradient));
}

body header {
    height: 10vh;
    width: 100vw;
    background-color: var(--header-color)
}

body footer {
    height: 5vh;
    line-height: 5vh;
    width: 100vw;
    background-color: var(--start-gradient);
    color: var(--end-gradient);
}

body footer a {
    color: var(--end-gradient);
    text-decoration: none;
}

body footer a:hover {
    color: var(--left-menu);
}

#main {
    height: 85vh;
    width: 100vw;
}

#main #slaves-menu {
    height: 85vh;
    width: 15vw;
    background-color: var(--left-menu);
    float: left;
    clear: right;
    opacity: 0.4;
}

#main #slaves-content {
    height: 85vh;
    width: 85vw;
   
    float: left;
    

    /* background: linear-gradient(var(--start-gradient), var(--end-gradient)); */
}

#main #slaves-content h2 {
    color: white;
}

#search-bar {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#search-date {
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--start-gradient);
}

#btn-search {
    margin-top: 1vh;
    width: 50%;
    height: auto;

    background-color: var(--start-gradient);
    color: white;
    font-size: large;
}

.slave-item {
    border: 3px solid var(--start-gradient);
    width: 75%;
    height: auto;
    margin-bottom: 1vh;

}

.slave-item:hover {
    cursor: pointer;
}

#slave-details {
    height: 10vh;
    width: 80vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    border: 1px solid var(--main-content);
    
}

#slave-details legend {
    color: var(--main-content);
}

#slave-details table {
    width: 100%;
}

#slave-details table tr td {
    text-align: center;
    color: var(--left-menu);
}

#slave-details table tr td a{
    color: var(--left-menu);
    text-decoration: none;
}

#slave-details table tr td a:hover{
    color: var(--main-content);
    text-decoration: underline;
}

#slave-logs {
    height: 60vh;
    width: 80vw;
    background-color: var(--left-menu);
    border: 1px solid var(--header-color);

    text-align: justify;
    overflow-y: auto;
}

#slave-logs-error {
    color: red;
    text-align: center;
    font-size: xx-large
}


#slave-logs-items {
    width: 100%;
    
    margin-bottom: 2vh;

    border: 1px solid var(--header-color);
}

#slave-logs-items tr td {
    text-align: center;
}